<h3 >Manage your todos here.</h3>
<small class="alert alert-info" *ngIf="message">{{message}}</small> <br><br>
<table class = "table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Is Completed?</th>
    <th>Target Date</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor=" let todo of todos" >
    <th>{{todo.id}}</th>
    <th>{{todo.description}}</th>
    <th>{{todo.isCompleted}}</th>
    <th>{{todo.targetDate | date}}</th>
    <th><button class="btn btn-success" (click)="updateTodo(todo.id)">Update</button></th>
    <th><button class="btn btn-success" (click)="deleteTodo(todo.id)">Delete</button></th>

  </tr>
  </tbody>
</table>
<button class="btn btn-success" (click) = "addNewTodo()">Add new todo</button>
